/* MainPages.css */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}
.imges{
  background-color:coral;
  transition: border-color 0.3s, transform 0.5s ease-in-out; 
}
.imges:hover {
  transform: scale(1.05);
  animation: shake 0.5s ease; 
  box-shadow: 5px 6px 8px coral;
}

.boxsd {
    box-shadow: 0px 4px 8px rgba(232, 174, 120, 0.875);
}
.boxsd:hover {
    font-weight: bolder;
    box-shadow: 0px 4px 8px rgba(248, 247, 246, 0.875);
}

.bg-clr {
    color: coral;
}

.bgc-clr {
    background-color: coral;
}

.bg-wrt {
    color: white;
}
.link{
    list-style-type: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: overline;
    font-weight: bold;
    text-shadow: 0px 4px 8px coral;
}

.icon:hover {
    transform: scale(1.2); /* Increase size on hover */
    transition: all 0.3s ease; /* Add smooth transition effect */
}
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  .skill-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin: 0;
    }
  
    &:hover {
      transform: scale(1.05);
    box-shadow: 0px 6px 8px coral;

    }
  }
  
  /* SkillsCard.css */

.skills-Card {
  border: 3px solid;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  transition: border-color 0.3s, transform 0.5s ease-in-out; 
  text-align: center;
}
.skills-Card:hover {
  transform: scale(1.05);
  transform: rotate(10deg);
  box-shadow: 0px 6px 8px rgb(250, 249, 249);
/* Change the border color on hover */
}

.card-image {
  width: 100%;
  max-width: 200px;
  border: 5px solid coral;
  margin-bottom: 10px;
}

.card-title {
  margin: 0;
  color: white;

}

